{% extends 'core/base.html' %}

{% block title %}Category{% endblock %}

{% block content %}
    <div class="py-12 px-6 mt-6 bg-gray-100 rounded-xl" >
        <h2 class="mb-12 text-2xl text-center">Items</h2>
            <div class="grid grid-cols-5 gap-4">
                    {% for item in items %}
                        <div>
                            <a href="{% url 'item:details' item.id %}">
                                <div>
                                    <img src="{{ item.image.url}}" class=" rounded-t-xl h-60 w-full">
                                </div>
                                <div class="p-6 bg-white rounded-b-xl">
                                    <h2 class="text-xl">{{ item.name }}</h2>
                                    <p class="text-gray-500">Price: {{ item.price }}$</p>
                                    <p class="text-gray-500">Seller: {{ item.created_by }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
            </div>
    </div>

{% endblock %}