{% extends 'core/base.html' %} {% block title %}New Item{% endblock %} 
{% block content %}
<div class="flex flex-col items-center justify-center space-y-4">


    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div>
                <h2 class="mt-6 text-center text-3xl font-bold tracking-teal text-teal-900">
                    Edit Item
                </h2>
            </div>
            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100">
                    {% for field in form  %}
                        {{ field.errors }}
                    {% endfor %}
                </div>
            {% endif %}
        <div class="block p-6 rounded-lg  bg-white max-w-md">  
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                <div class="form-group mb-6">
                    <label for="ItemName" class="block text-sm font-medium text-gray-700">Item name : </label>
                    {{ form.name }}
                </div>         
                <div class="form-group mb-6">
                    <label for="Description" class="block text-sm font-medium text-gray-700">Description : </label>
                    {{ form.description }}
                </div>
                <div class="form-group mb-6">
                    <label for="ItemName" class="block text-sm font-medium text-gray-700">Price : </label>
                    {{ form.price }}
                </div>
                <div class="form-group mb-6">
                    <label class="block text-sm font-medium text-gray-700">Add Picture</label>
                    <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                      <div class="space-y-1 text-center">
                        <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                          <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <div class="flex text-sm text-gray-600">
                          <label for="image" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                            <span>Upload a file</span>
                            {{ form.image }}
                          </label>
                          <p class="pl-1">or drag and drop</p>
                        </div>
                        <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                      </div>
                    </div>
                  </div>
                </div> 

                <div class="form-group mb-2 grid place-items-start place-items-center ">
                    <button type="submit"
                        class="w-1/2 px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                        Save
                    </button>
                </div>   
            </form>
        </div>
    </div>


</div>
{% endblock %} 